@import "fonts";
// @import "enhanced_fonts";
@import "mq";
@import "palette";
// @import "enhancer";
// gu_grid pulls the css for gs-container and content__main-column
// @import "gu_grid";
@import "scrolly";

.interactive-atom {
    margin: 0;
    padding: 0;
}

// for apps adds extra padding. Needed to make dark mode work
.ios, .android {
    .interactive-atom {
        padding: 8px;
    }
}

.North.America{fill:$live-red;stroke:$live-red;}
.South.America{fill:#ffe500;stroke:#ffe500;}
.Americas{fill:#ffbb50;stroke:#ffbb50;}
.Asia{fill:$live-blue;stroke:$live-blue;}
.Other{fill:#ffabdb;stroke:#ffabdb;}
.Oceania{fill:$gu-lifestyle-kicker;stroke:$gu-lifestyle-kicker;}
.Africa{fill:$green-main;stroke:$green-main;}
.Africas{fill:#236925;stroke:#236925;}
.Europe{fill:$sport-blue;stroke:$sport-blue;}


.yaxis {

	display: none;

	text{
		font-size: 16px;
	    line-height: 24px;
	    font-family: "Guardian Text Egyptian Web",Georgia,serif;
	    fill: #767676;

	    @include mq($from: 100px, $until: 499px) {
               font-size: 13px;
    	}
	}

	line{
		stroke: #eaeaea;
	}

	.domain{
		display: none;
	}
    
}


.stranded-assets-tooltip{
        pointer-events: none;
        min-width:150px;
        max-width: 300px;
        height: max-content;
        padding:8px;
        background: rgba(255, 255, 255, 0.9);
        border: 1px solid #333;
        color: #333333;
        border-top: 1px solid #333;
        position: absolute;
        z-index: 100000;
        line-height: 18.2px;
        cursor: pointer;

        opacity:0;

        &.over{
            opacity: 1;
        }

        font-size: 14px;

        @include fs-header(3);
}

.scroll-text{
	top:calc(100vh - 600px)
}

