<div class="gv-text-section"></div>
    <div id="scrolly-1">
    <div class="scroll-wrapper">
        <div class="scroll-inner">
            <div class="scrolly-stranded-assets-interactive-wrapper">
				<div class="dorling-interactive-wrapper"></div>
			</div>
			<div class='stranded-assets-tooltips'>
				<div id="tooltip-0" class="stranded-tooltip">
					Country name
				</div>
				<div class='stranded-tooltips'>
					<div id="tooltip-1" class="stranded-tooltip">
						<div class="stranded-tooltip-header">Fossil fuel assets</div>
						<div class="stranded-tooltip-subheader">Estimated</div>
						<div class="stranded-tooltip-figure">$X,XXXbn</div>
					</div>
					<div id="tooltip-2" class="stranded-tooltip">
						<div class="stranded-tooltip-header">Stranded assets</div>
						<div class="stranded-tooltip-subheader">Scenario</div>
						<div class="stranded-tooltip-figure">$XXXbn</div>
						<div class="stranded-tooltip-note">XX% of World's total</div>
					</div>
					<div id="tooltip-3" class="stranded-tooltip">
						<div class="stranded-tooltip-header">GDP by 2036</div>
						<div class="stranded-tooltip-subheader">Estimated change</div>
						<div class="stranded-tooltip-figure">-XX.X%</div>
					</div>
				</div>
			</div>
        </div>
        <div class="scroll-text">
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                	<hr class='hr1'/>
                	<h2>$25tn in a business-as-usual scenario</h2>
                    <p>In a business-as-usual scenario, researchers estimate global fossil fuel assets would be valued at over $25tn by 2036. Most would be held by the US, Russia and Opec nations.</p>
                    <svg class='stranded-key' style="width: 310px; height: 60px;">
                        <circle class='key-circle-fill' cx="10px" cy="10px"style="stroke-width: 2px;" r="10"></circle>
                        <text class="key-text" x="25px" y="15px">Hover over each bubble for more information</text>
                    </svg>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>But their analysis shows the true value of these assets is far lower because renewables are on course to replace them due to technological innovation, investments flows and government policies.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                	<hr class='hr2'/>
                	<h2>Shrinking to $14tn with net zero coming into effect</h2>
                    <p>The value of fossil fuel assets is projected to fall as a result of net zero policies, which will diminish demand for oil and gas.</p>
                    <svg class='stranded-key' style="width: 300px; height: 60px;">
                    	<circle class='key-circle-fill' cx="10px" cy="10px"style="stroke-width: 2px;" r="10"></circle>
                    	<text class="key-text" x="25px" y="15px">Estimated new value of fossil fuel assets</text>
                    	<circle class='key-circle-stroke' cx="10px" cy="32px"style="stroke-width: 2px;" r="10"></circle>
                    	<text class="key-text" x="25px" y="37px">Stranded assets</text>
                	</svg>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div"> 
                    <p>With asset values falling, Opec countries could choose to raise production and sell off fossil fuels as quickly as possible. This would mean more fossil fuel assets are stranded elsewhere. In the US, for example, 62% of assets would be stranded by 2036.</p>
                </div>
            </div>
             <div class="scroll-text__inner">
                <div class="scroll-text__div">
                	<hr class='hr3'/>
                	<h2>Quota system levels out stranded assets</h2>
                    <p>In another scenario, Opec accepts quotas to avoid a destabilising global fire sale. This would mean slightly lower ($11tn) stranded assets and the losses would be distributed more evenly across producer countries.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div"> 
                    <p>This means the true value of fossil fuel assets would be around half that estimated today. This would lead to more than $1tn hits for each of the US, Russia and China by 2036.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                	<hr class='hr4'/>
                	<h2>Majority of countries still grow their economies</h2>
                    <p>Despite the loss of fossil fuel assets in this net zero scenario, the world economy would still grow by $44tn in real terms by 2036 – or 3.9%. Russia and China would see the value of their fossil fuel assets fall, but their economies would still increase overall.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>The outlook for developing nations is even rosier. Countries including Argentina, Kazakhstan and India are projected to record double-digit economic growth, assuming they have access to capital from financial institutions. But the US, Canada and Norway would be among the net losers because so much of their oil and gas assets are comparatively expensive to extract.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gv-text-section"></div>
