@import "fonts";
// @import "enhanced_fonts";
@import "mq";
@import "palette";
@import "enhancer";
// gu_grid pulls the css for gs-container and content__main-column
// @import "gu_grid";
@import "scrolly";

/* .interactive-atom {
    margin: 0;
    padding: 0;
} */

// for apps adds extra padding. Needed to make dark mode work

.ios, .android {
    .interactive-atom {
        padding: 8px;
    }
}

.interactive-wrapper, .interactive-atom{

	

}

.interactive-wrapper{

	@include mq(tablet) {
	 	margin-left: -20px;
	 }

	 @include mq(desktop) {
	 	margin-left:-10px;
	 }

	@include mq(leftCol) {
	 	margin-left:-180px;
	 }

	 @include mq(wide) {
	 	margin-left: -240px;
	 }

	 &:before {
        position: absolute;
        top: 0;
    
        height: 100%;
        min-height: 500px;
        content: ' ';
    
    }

}

.scroll-wrapper{
	background:transparent;

	@include mq($from: 0px,  $until: 740px){
		background: white;
	}

}

.dorling-svg{

	background: white;
	
	@include mq($from: 0px,  $until: 740px){
		background: white;
	}
}



.North.America{fill:$live-red;stroke:$live-red;&.over{stroke:#333;}}
.South.America{fill:#ffe500;stroke:#ffe500;&.over{stroke:#333;}}
.Americas{fill:#ffe500;stroke:#ffe500;&.over{stroke:#333;}}
.Asia{fill:$live-blue;stroke:$live-blue;&.over{stroke:#333;}}
.Other{fill:#ffabdb;stroke:#ffabdb;&.over{stroke:#333;}}
.Oceania{fill:$gu-lifestyle-kicker;stroke:$gu-lifestyle-kicker;&.over{stroke:#333;}}
.Africa{fill:$green-main;stroke:$green-main;&.over{stroke:#333;}}
.Africas{fill::$green-main;stroke::$green-main;&.over{stroke:#333;}}
.Europe{fill:$sport-blue;stroke:$sport-blue;&.over{stroke:#333;}}


.yaxis {

	display: none;

	text{
		font-size: 16px;
	    line-height: 24px;
	    font-family: "Guardian Text Egyptian Web",Georgia,serif;
	    fill: #767676;

	    @include mq($from: 100px, $until: 499px) {
               font-size: 13px;
    	}
	}

	line{
		stroke: #eaeaea;
	}

	.domain{
		display: none;
	}
    
}


.stranded-assets-tooltips{
        pointer-events: none;
        min-width:150px;
        max-width: 300px;
        height: max-content;
        padding:8px;
        background: rgba(51, 51, 51, 0.9);
        border: 2px solid black;
        color: #FFFFFF;
        position: absolute;
        z-index: 100000;
        line-height: 18.2px;
        cursor: pointer;
        font-size: 14px;

       	opacity:0;

        &.over{
            opacity: 1;
        }

        

        .stranded-tooltips{
        	display: flex;
        	flex-direction:column;
        }

        .stranded-tooltip{
        	margin-bottom: 12px;
        }

        #tooltip-0{
        	@include fs-header(3);
        	margin-bottom: 6px;
        }

        #tooltip-1, #tooltip-2, #tooltip-3{
        	display: none;
        }

        .stranded-tooltip-header{
        	@include fs-header(1);
        	font-size: 14px;
        	
        }

        .stranded-tooltip-subheader{
        	color:$highlight-yellow;
        	@include fs-textSans(1);
        	font-size: 12px;
        }


        .stranded-tooltip-figure, .stranded-tooltip-note{
        	font-family:$f-serif-headline;
        	font-size:24px;
        	margin-bottom: 4px;
        	
        }
        .stranded-tooltip-note{
        	font-size: 12px;
        }

        
}

.annotation,.annotationBg{
	font-family:$f-serif-headline;
	fill:#333333;
}
.annotationBg{
	stroke:#fff;
	stroke-width:4px;
}

.continent-label-bg, .continent-label{
	font-size: 18px;

	@include mq($from: 100px,  $until: 499px) {
		font-size: 14px;
	}

	pointer-events: none;
	font-family:$f-serif-headline;
	fill:#fff;
}

.continent-label-bg{
	stroke:#333;
	stroke-width:4px;
	stroke-opacity: .3;
}

.scroll-text{

 	@include mq($from: 100px,  $until: 499px) {

		top:calc( calc(100vh /2) + 25px);

		-webkit-transform: translate3d(0,0,-1px);

		//z-index:-1000;


		
	}
} 

.scroll-text__div {

	hr{
		border: .7px solid #333;
		background:#333;
		margin-left: 0;
		padding: 0;
		margin: 0;
		-webkit-transition: width 1s ease-in-out;
	    -moz-transition: width 1s ease-in-out;
	    -o-transition: width 1s ease-in-out;
	    transition: width 1s ease-in-out;
		
	}

	
	.hr1{width:0%;}
	.hr2{width:25%;}
	.hr3{width:50%;}
	.hr4{width:75%;}

	h2{
		margin:0;
		padding-top: 3px;
		@include fs-header(5); margin-bottom: 8px;
	    width: 100%;
	    margin-left: 0;
	    background-color: #ffffff !important;
	    border-top: 1px solid #333;
	    margin-bottom: 1rem;
		font-family: GuardianTextEgyptian,Guardian Text Egyptian Web,Georgia,serif;
		font-size: 18px;
		line-height: 21px;
		background-color: #333333;
	}


	max-width: 330px;

	@include mq($from: 100px, $until: 499px) {
		max-width: 100%;
	}


	width: 100%;
	text-align: left;
	margin-left: 0px;
	padding: 6px 10px 0px;
	    padding-top: 6px;
	    padding-bottom: 0px;
	font-size: 28px;
	line-height: 32px;
	font-family: "Guardian Headline","Guardian Egyptian Web","Guardian Headline Full",Georgia,serif;
	font-weight: normal;
	color: #000;
	font-size: 16px;
	line-height: 22px;
	position: relative;
	padding-top: 4px;
	padding-bottom: 6px;
	box-sizing: border-box;
	-webkit-transform: translate3d(0, 0, 0);

	box-shadow:none !important;
	border:none !important;
}

.label-country{
	pointer-events: none;
	@include fs-textSans(3);
	fill:#fff;
}

.label-country-grey{
	@include fs-textSans(3);
	fill:#bababa;
}

.key-text{
	@include fs-textSans(3);
	fill:#bababa;
	font-size: 14px;
}
.stranded-key{margin-top: 8px; border-top:1px solid $neutral-86; padding-top: 8px;}
.key-circle-fill{fill:#bababa;}
.key-circle-stroke{fill:#bababa;fill-opacity:.2;stroke:#bababa; stroke-dasharray: 4.5;}

//.css-nush53{position: relative;}

.gv-text-section{

    @include mq(leftCol) {
        margin-left: 160px !important;
    }
    @include mq(wide) {
        margin-left: 240px !important;
    }

    &:before {
        position: absolute;
        top: 0;
    
        height: 100%;
        min-height: 500px;
        content: ' ';
    
    
        @include mq(leftCol) {
            border-left:1px solid #dfdfdf;
    
          left: calc((100% - 1140px)/2 + 170px);
        }
    
        @include mq(wide) {
            border-left:1px solid #dfdfdf;
    
          left: calc((100% - 1300px)/2 + 250px);
        }
      }
}
