

<div id="scrolly-1">
    <div class="scroll-wrapper">
        <div class="scroll-inner">
            <div class="scrolly-stranded-assets-interactive-wrapper">
				<div class="dorling-interactive-wrapper"></div>
			</div>
			<div class='stranded-assets-tooltips'>
				<div id="tooltip-0" class="stranded-tooltip">
					Country name
				</div>
				<div id="tooltip-1" class="stranded-tooltip">
					<div class="stranded-tooltip-header">Fossil fuel assets</div>
					<div class="stranded-tooltip-subheader">Estimated</div>
					<div class="stranded-tooltip-figure">$X,XXXbn</div>
				</div>
				<div id="tooltip-2" class="stranded-tooltip">
					<div class="stranded-tooltip-header">Stranded assets</div>
					<div class="stranded-tooltip-subheader">Scenario</div>
					<div class="stranded-tooltip-figure">$XXXbn</div>
					<div class="stranded-tooltip-note">XX% of World's total</div>
				</div>
				<div id="tooltip-3" class="stranded-tooltip">
					<div class="stranded-tooltip-header">GDP by 2036</div>
					<div class="stranded-tooltip-subheader">Estimated change</div>
					<div class="stranded-tooltip-figure">-XX.X%</div>
				</div>
			</div>
        </div>
        <div class="scroll-text">
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                	<hr/>
                	<h2>$25tn in a business-as-usual scenario</h2>
                    <p>In a business-as-usual scenario, the researchers estimate the world would have $25trn of fossil fuel assets by 2036. The US, Russia and Opec countries would have the largest reserves of coal, oil and gas.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>But their analysis shows that the true value of these assets is far lower because renewables are on course to replace them due to technological innovation, investments flows and government policies.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                	<hr/>
                	<h2>Shrinking to $14bn with net zero coming into effect</h2>
                    <p>With net zero policies coming into effect, and demand for oil and gas declining, Opec countries may choose to increase production and sell fossil fuel assets at a high price while they still can.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div"> 
                    <p>This would devalue fossil fuel fields and infrastructure elsewhere. For example, 62% of US assets would be stranded compared to a business-as-usual scenario. Similar crashes are likely in other oil exporting nations.</p>
                </div>
            </div>
             <div class="scroll-text__inner">
                <div class="scroll-text__div">
                	<hr/>
                	<h2>Quota system levels out stranded assets</h2>
                    <p>In another scenario, Opec accepts quotas to prevent the fire sale of fossil fuels. This would still lead to about $11tn of stranded assets, although these losses would be distributed more evenly among producer countries.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div"> 
                    <p>This means the true value of fossil fuel assets would be around half that estimated today. This would lead to more than $1trn hits for each of the USA, Russia and China.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                	<hr/>
                	<h2>Majority of countries still grow their economies</h2>
                    <p>Despite the loss of fossil fuel assets in this net-zero scenario, the world economy would still grow by $44tn by 2036 - or 3.9%. Russia and China would see the value of their fossil fuel assets fall, but their economies would still increase overall.</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>The outlook for developing nations is even rosier, with countries including Argentina, Kazakhstan and India projected to record double-digit economic growth. But the US, Canada and Norway would be among the net losers because so much of their oil and gas assets are expensive to extract.</p>
                </div>
            </div>
        </div>
    </div>
</div>
